* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
  color: white;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1.2rem 0;
}

header p {
  font-size: 1.5rem;
  font-weight: 700;
}

/*리스트를 옆으로 나열*/
header ul {
  display: flex;
}

header ul li {
  list-style-type: none;
  margin-left: 1.5rem;
}

header ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 5px;
  color: gray;
}

header ul li:first-child a {
  border-bottom: 5px solid gray;
}

header ul li a:hover {
  border-bottom: 5px solid gray;
}

/*width가 600이하일 경우 세로로 나눠라*/
@media screen and (max-width:600px) {
  header {
      flex-direction: column;
  }
}

.proPhoto {
  border-radius:50%;
  margin: 2rem;
  width:50%
}

section {
  text-align: center;
  margin-bottom: 2rem;
}

section p {
  margin-bottom: 1rem;
}

section p:first-child {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.prodesc {
  width: 200px;
  margin: 0 auto; /* 수평 중앙 정렬하기 */
  margin-bottom: 2rem;
}
section[id="sect1"] ul {
  padding: 5px;
}
section[id="sect1"] ul li {
  display: flex;
  color: rgb(218, 235, 165);
}
.proessay {
  max-width: 360px;
  margin: 0 auto; /* 수평 중앙 정렬하기 */
  line-height: 1.8rem;    /*최상위 html 폰트가 16px 이므로, 줄간격은 그 1.8배*/
  letter-spacing: 2px;    /*글자 간격*/
  word-spacing: 1px;      /*단어 간격*/
  text-indent: 10px;      /*들여쓰기*/
  text-align: left;
}

section[id="sect2"] ul {
  position: relative;
  width: 400px;
  margin: 100px auth 0;
  padding: 10px;
  box-sizing: border-box;
}
section[id="sect2"] ul li {
  display: flex;
  background-color: bisque;
  padding: 10px 20px;
  color: blueviolet;
  margin: 5px 0;
  transition: .5s;
  border-radius: 20px;
}
section[id="sect2"] ul li:hover {
  transform: scale(1.05);
  background-color: rgb(148, 116, 76);
}
section[id="sect2"] a {
  text-decoration: none;
  color: black;
}
.frphoto {
  width: 20%;
  align-items: center;
}
.frname {
  font-size: 1.5rem;
  width: 80%;
}

footer {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: gray;
}

footer a {
  text-decoration: none;
  color: white;
}